<form ngSubmit="onsSubmit()" [formGroup]="productForm">
  <div class="card">
    <div class="card-header">
      <h1> Add new product</h1>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="productCode">Product code</label>
        <input type="text" class="form-control" name="productCode" formControlName="productCode" id="productCode"
          aria-describedby="productCodeHid" placeholder="Product code">
        <small id="productCodeHid" class="form-text text-muted"
          *ngIf="!productForm.get('productCode')?.valid && productForm.get('productCode')?.touched">Product code is
          required.</small>
      </div>
      <div class="form-group">
        <label for="productName">Product name</label>
        <input type="text" class="form-control" name="productName" formControlName="productName" id="productName"
          aria-describedby="productNameHid" placeholder="Product name">
        <small id="productNameHid" class="form-text text-muted"
          *ngIf="!productForm.get('productName')?.valid && productForm.get('productName')?.touched">Product name is
          required.</small>
      </div>
    </div>
    <!-- <div class="card-footer text-muted"> -->
      <button class="btn btn-primary">Save</button>
    <!-- </div> -->
  </div>
</form>
